*{
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6e6ea;
}
ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.nav{
    padding: 15px 0 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ef233c;
    color: white;
}
.nav h1{
    font-size: 2rem;
    text-transform: uppercase;
}
.question-container{
    display: grid;
    grid-template-columns: 84% 16%;
}
.number-question{
    background-color: whitesmoke;
    font-size: 65px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding-top: 15%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.number-question h1{
    display: inline-block;
    padding: 20px;
}
.answer-quetion{
    font-size: 67px;
    margin-right: 10px;
}
.answer-quetion h1{
    cursor: pointer;
    color: whitesmoke;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
#option1{
    background-color: #fe4a49;
    transition: 1s;
}
#option1:hover{
    color: #fe4a49;
    background-color: white;
}
#option2{
    background-color: #2ab7ca;
    transition: 1s;
}
#option2:hover{
    color: #2ab7ca;
    background-color: white;
}
#option3{
    background-color: #fed766;
    transition: 1s;
}
#option3:hover{
    color: #fed766;
    background-color: white;
}